# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
filepath = "../output_data/cities.csv"
city_weather_df = pd.read_csv(filepath)
city_weather_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Tasiilaq,GL,65.6145,-37.6368,41.00,60,75,7.56,1619484085
1,1,Narsaq,GL,60.9167,-46.0500,37.40,87,75,1.14,1619484086
2,2,Cidreira,BR,-30.1811,-50.2056,62.74,76,0,9.80,1619484086
3,3,Saskylakh,RU,71.9167,114.0833,9.36,91,34,4.54,1619484086
4,4,Nīlokheri,IN,29.8333,76.9167,79.68,16,0,2.26,1619484086
...,...,...,...,...,...,...,...,...,...,...
557,557,Yeppoon,AU,-23.1333,150.7333,77.00,50,20,11.50,1619484326
558,558,Vernon,CA,50.2581,-119.2691,64.99,25,98,3.44,1619484327
559,559,Casablanca,MA,33.5928,-7.6192,60.80,82,40,10.36,1619484148
560,560,Nyurba,RU,63.2842,118.3319,20.08,68,100,9.60,1619484327
561,561,Port Hawkesbury,CA,45.6169,-61.3485,44.01,100,90,8.05,1619484327

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps with G-key
gmaps.configure(api_key=g_key)

#create figure
fig = gmaps.figure()

#variables
city = city_weather_df[['Lat','Long']]
humid = city_weather_df['Humidity'].astype(float)

#heat layer
heat_layer = gmaps.heatmap_layer(city, weights = humid, dissipating = False,
                                max_intensity = 10, point_radius = 1)
fig.add_layer(heat_layer)

#print figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
city_weather_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Tasiilaq,GL,65.6145,-37.6368,41.00,60,75,7.56,1619484085
1,1,Narsaq,GL,60.9167,-46.0500,37.40,87,75,1.14,1619484086
2,2,Cidreira,BR,-30.1811,-50.2056,62.74,76,0,9.80,1619484086
3,3,Saskylakh,RU,71.9167,114.0833,9.36,91,34,4.54,1619484086
4,4,Nīlokheri,IN,29.8333,76.9167,79.68,16,0,2.26,1619484086
...,...,...,...,...,...,...,...,...,...,...
557,557,Yeppoon,AU,-23.1333,150.7333,77.00,50,20,11.50,1619484326
558,558,Vernon,CA,50.2581,-119.2691,64.99,25,98,3.44,1619484327
559,559,Casablanca,MA,33.5928,-7.6192,60.80,82,40,10.36,1619484148
560,560,Nyurba,RU,63.2842,118.3319,20.08,68,100,9.60,1619484327
561,561,Port Hawkesbury,CA,45.6169,-61.3485,44.01,100,90,8.05,1619484327

In [5]:

perfect_temp_df = city_weather_df.loc[(city_weather_df["Max Temp"] > 70) &
                                         (city_weather_df["Max Temp"] < 80)]

perfect_wind_df = perfect_temp_df.loc[perfect_temp_df["Wind Speed"] < 10]

perfect_weather_df = perfect_wind_df.loc[perfect_wind_df["Cloudiness"] == 0]
perfect_weather_df = perfect_weather_df[['City', 'Country', 'Lat', 'Long', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Date']]
perfect_weather_df

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
4,Nīlokheri,IN,29.8333,76.9167,79.68,16,0,2.26,1619484086
118,Oussouye,SN,12.4850,-16.5469,75.20,88,0,4.61,1619484119
125,Inhambane,MZ,-23.8650,35.3833,71.20,88,0,4.85,1619484120
153,Beloha,MG,-25.1667,45.0500,70.27,74,0,5.50,1619484131
294,Port Macquarie,AU,-31.4333,152.9167,72.00,63,0,4.00,1619484069
330,Porbandar,IN,21.6422,69.6093,78.80,94,0,5.75,1619484181
515,Flinders,AU,-34.5833,150.8552,71.01,64,0,1.99,1619484314

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = perfect_weather_df
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
4,Nīlokheri,IN,29.8333,76.9167,79.68,16,0,2.26,1619484086,
118,Oussouye,SN,12.4850,-16.5469,75.20,88,0,4.61,1619484119,
125,Inhambane,MZ,-23.8650,35.3833,71.20,88,0,4.85,1619484120,
153,Beloha,MG,-25.1667,45.0500,70.27,74,0,5.50,1619484131,
294,Port Macquarie,AU,-31.4333,152.9167,72.00,63,0,4.00,1619484069,
330,Porbandar,IN,21.6422,69.6093,78.80,94,0,5.75,1619484181,
515,Flinders,AU,-34.5833,150.8552,71.01,64,0,1.99,1619484314,

In [7]:

hotel=[]

params = {
    "radius": 5000,
    "types": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    long = row["Long"]

    params["location"] = f"{lat},{long}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    hotel_name = requests.get(base_url, params=params).json()
    hotel.append(hotel_name["results"][1]["name"])

In [8]:
hotel_df["Hotel Name"] = hotel
hotel_df

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
4,Nīlokheri,IN,29.8333,76.9167,79.68,16,0,2.26,1619484086,Variety Kennel
118,Oussouye,SN,12.4850,-16.5469,75.20,88,0,4.61,1619484119,Asamblea de Cooperacion por la Paz (Senegal)
125,Inhambane,MZ,-23.8650,35.3833,71.20,88,0,4.85,1619484120,Oceano
153,Beloha,MG,-25.1667,45.0500,70.27,74,0,5.50,1619484131,Beloha Hospital
294,Port Macquarie,AU,-31.4333,152.9167,72.00,63,0,4.00,1619484069,Rydges Port Macquarie
330,Porbandar,IN,21.6422,69.6093,78.80,94,0,5.75,1619484181,Lords Inn Porbandar
515,Flinders,AU,-34.5833,150.8552,71.01,64,0,1.99,1619484314,Shellharbour Resort & Conference Centre

In [9]:

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [10]:
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))